# تجاهل node_modules في الدوسيات الكل
**/node_modules/

# تجاهل ملفات البيئة (اللي فيهم كلمات السر)
**/.env
**/.env.local

# تجاهل ملفات البيلد متع Next.js و React
**/.next/
**/build/
**/dist/

# تجاهل تصاور الكادوات متع الباكاند
**/uploads/

# ملفات النظام
.DS_Store
Thumbs.db