# Dependencies
node_modules/

# Environment variables
.env

# Uploads (تصاور الكادوات اللي تزيدهم من الـ Admin ما نطلعوهمش للـ Git)
uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db